/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

#inline-large {
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: bold;
}